extends layout

block content
	h1= title
	p Welcome to #{title}
	form(method="post",action="/post/formdata",enctype="multipart/form-data")
		input(type="file",name="pic")
		input(type="submit",value="提交")
		input(type="reset",value="重置")
block files_container
	ul
		each item in files
			li(path= item)= item
				button.del_file delete